name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-and-test:
    strategy:
      matrix:
        ros_distro: [humble, jazzy]
    runs-on: ubuntu-latest
    container:
      image: ros:${{ matrix.ros_distro }}-ros-base
    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          apt-get update
          apt-get install -y python3-pip python3-colcon-common-extensions
          rosdep update
          rosdep install --from-paths . --ignore-src -r -y

      - name: Build
        run: |
          . /opt/ros/${{ matrix.ros_distro }}/setup.sh
          colcon build --packages-select ros2_diag_tui

      - name: Test
        run: |
          . /opt/ros/${{ matrix.ros_distro }}/setup.sh
          . install/setup.sh
          colcon test --packages-select ros2_diag_tui
          colcon test-result --verbose
